<header class="main_header clearfix">
  <div class="logo">
    <img src="https://i.pinimg.com/736x/fb/03/fe/fb03fe98bdd76f364d4097c42338128f--logo-wine-wine-logo-design.jpg" alt="wine_logo">
    <h1>Awesome<span>Wine</span></h1>
  </div>
  <nav class="nav">
    <a class="current" href="#">Articles</a>
    <a href="#">Reviews</a>
    <a href="#">Events</a>
    <a href="#">Team</a>
    <a href="#">Contact</a>
  </nav>
</header>